<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.spring.myweb.user.mapper.IUserMapper" >
 
 	<!-- IUserMapper타입으로 빈이 등록이 돼야 한다.
 		 db-config.xml에 맨아래내리면서 그곳에 마이바티스 스프링 스캔 추가!
 	 -->
 	<!-- 이제 매퍼테스트 진행하자. user.mapper패키지에 UserMapperTest 클래스를 만들어주고 가서 테스트 진행하자 -->
 
 
 	<insert id="join">
 		INSERT INTO users
 		(user_id, user_pw, user_name, user_phone1, user_phone2, user_email1, user_email2, addr_basic, addr_detail, addr_zip_num)
 		VALUSE(#{userId}, #{userPw}, #{userPhone1}, #{userPhone2}, #{userEmail1}, #{userEmail2}, #{addrBasic}, #{addrDetail}, #{addrZipNum})
 			<!-- 적었으니 UserMapperTest로가서 실행해보자 -->
 	</insert>
 	
 	
 	
 	
 	
 	
 	
 	
 	
 
 </mapper>